/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
}

  --green: #04c35c;
  --white: #ffffff;
  --input: #e8e8e8;
}

body {
  margin-top: 40px;
  width: 100vw;
  background: var(--gradient-default);
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  width: 300px;
  margin: 0 auto;
}

button {
  background-color: #8257e5;
  text-align: center;
  border-radius: 5px;
  box-shadow: 6px 6px 8px -6px black;
  transition: 0.5s;
}

#container {
  margin-top: 6.25rem;
  width: 80%;
  max-width: 37.5rem;
  margin-inline: auto;
}

input[type="text"],
button {
  height: 3rem;
  width: 100%;
  border: 1px solid var(--input);
  border-radius: 5px;
  font-size: 1.6rem;
}
